
/* body {
  display: block;
  margin: 0;
  padding: 0;
   width: max-content; 
  min-height: 100vh;
  background-color: gray;

} */

body  {
  /* margin: 0;
  padding: 0; */
  /* min-height: 100vh; */
  height: 100em;
  
  background-color: blue ;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5em;
  background-color: blueviolet;
  align-items: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}